<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpaschos_aikmpel.hotelbeaconapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".BeaconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ForgotActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ForgotVerifyActivity"
            android:parentActivityName=".activities.ForgotActivity" />
        <activity
            android:name=".activities.ForgotNewPassActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ReservationActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activities.ViewPagerTestActivity" />
        <activity
            android:name=".activities.BookActivity"
            android:parentActivityName=".activities.ReservationActivity" />
        <activity
            android:name=".activities.BookConfirmationActivity"
            android:parentActivityName=".activities.ReservationActivity" />
        <activity
            android:name=".activities.RoomServiceActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.UpcomingReservationActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity android:name=".activities.LoadingScreenActivity" />
        <activity
            android:name=".activities.LoyaltyProgramActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.ReviewActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <!-- TODO:alter these activities' parent activity(back to room's features) -->
        <activity
            android:name=".activities.RoomServiceConfirmationActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.CheckedInActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.CheckOutActivity"
            android:parentActivityName=".activities.UpcomingReservationActivity" />
        <activity
            android:name=".activities.CheckedOutActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity android:name=".NotificationsFunctions.TestNotificationsActivity" />
        <activity android:name=".activities.MonitoringActivity" />
        <activity android:name=".activities.CheckInActivity"></activity>
    </application>

</manifest>